/* -----------CONFIGURACION HERO----------- */

.GENERAL{
    display: flex;
    align-items: center;
    /* con el atributo "align-items: center;" estamos diciendole que se debe centrar con respecto a
     la linea creada */
}

.LINEA-VERTICAL{
    width: 4px;
    height: 30vh;
    background-color: grey;
    margin-right: 20px;
    margin-left: 60px;
}
.CONTENIDO-GENERAL{
    padding: 30px;
    /* lo que hace es alejar un poco el texto del lado izquierdo, es decir da espacio entre la linea
    y el contenido */
    width: 750px;
}

.CONTENEDOR-ICONOS{
        display: flex;
        flex-direction: column;
        gap: 20px;
        /* esta propiedad lo que hace es interponer un espacio de x pixeles entre cada icono. */
        margin: 20px 53px;
        /* primer valor le doy el espacio para parte superior e inferior. Segundo valor
        indica izq y derecha. */
}
.ICONOS{
    font-size: 20px;
}

.BOTON-HERO{
    background-color: transparent;
    border: 3px solid #d66939;
    color: #d66939;
    font-size: 16px;
    cursor: pointer;
    /* esta propiedad hace que el cursor se modifique al pasar sobre el boton */
}
/* -------------FIN DE LA CONFIGURACION DEL HERO-------------- */