/* -----------CONFIGURACION HERO----------- */

.GENERAL{
    display: flex;
    align-items: center;
    /* con el atributo "align-items: center;" estamos diciendole que se debe centrar con respecto a
     la linea creada */
     position: relative;
     /* Con esto solucionamos el problema de la superposicion de elementos (el degrade de fondo) */
}

.LINEA-VERTICAL{
    width: 4px;
    height: 30vh;
    background-color: grey;
    margin-right: 20px;
    margin-left: 60px;
}
.CONTENIDO-GENERAL{
    padding: 30px;
    /* lo que hace es alejar un poco el texto del lado izquierdo, es decir da espacio entre la linea
    y el contenido */
    width: 750px;
    color: #FFFFFF;
}

.CONTENEDOR-ICONOS{
        display: flex;
        flex-direction: column;
        gap: 20px;
        /* esta propiedad lo que hace es interponer un espacio de x pixeles entre cada icono. */
        margin: 20px 53px;
        /* primer valor le doy el espacio para parte superior e inferior. Segundo valor
        indica izq y derecha. */
}
.ICONOS{
    font-size: 20px;
}

.BOTON-HERO{
    background-color: transparent;
    border: 3px solid #d66939;
    color: #d66939;
    font-size: 16px;
    cursor: pointer;
    /* esta propiedad hace que el cursor se modifique al pasar sobre el boton */
}

.FONDO-HERO{
    position: relative;
    background-image: url(../img/foto1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* Esta funcion hacer que la imagen cubra toda la seccion y se amolde. Si utilizamos size:contain lo que hace es amoldarse al tamano de la seccion, pero puede quedar bordes blancos. */
    /* background-position: center; Si aplico esta propiedad la imagen se centra en la seccion, la imagen buscara adaptarse de manera centrada. */
}

.FONDO-HERO::before{
    /* Aqui hemos creado una pseudo-clase, es utilizada para insertar contenido antes del contenido del elemento seleccionado (section en este caso).Esto permite aplicar el degradado a la imagen de fondo. */
    content: "";
    /* Es una propiedad que asigna contenido vacio al pseudoelemento. */
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Con estos valores estamos haciendo que el pseudoelemento ocupe todo el espacio de la seccion, que tenga su tamano real */
    background: linear-gradient(to right, black, transparent);
}

/* -------------FIN DE LA CONFIGURACION DEL HERO-------------- */