/* -----------CONFIGURACION HERO----------- */

body{
    font-family: Verdana, Regular, Bold;
}

h1{
    font-size: 40px;
}

.GENERAL{
    display: flex;
    /* align-items: center; */
    /* con el atributo "align-items: center;" estamos diciendole que se debe centrar con respecto a
     la linea creada */
     position: relative;
     /* Con esto solucionamos el problema de la superposicion de elementos (el degrade de fondo) */
}

.LINEA-VERTICAL{
    width: 3px;
    height: 25vh;
    background-color: grey;
    margin-right: 20px;
    margin-left: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    /* Con margin top y bottom lo que hice fue achicar las lineas arriba y abajo, las recorte del valor original. */
}
.CONTENIDO-GENERAL{
    padding: 30px;
    /* lo que hace es alejar un poco el texto del lado izquierdo, es decir da espacio entre la linea
    y el contenido */
    width: 750px;
    color: #FFFFFF;
    margin-top: 100px;
    /* Con este valor lo que hicimos fue darle un margen superior para que el texto baje hasta la altura deseada de la seccion */
}

.CONTENEDOR-ICONOS{
        display: flex;
        flex-direction: column;
        gap: 20px;
        /* esta propiedad lo que hace es interponer un espacio de x pixeles entre cada icono. */
        margin: 20px 53px;
        /* primer valor le doy el espacio para parte superior e inferior. Segundo valor
        indica izq y derecha. */
        font-size: 20px;
        cursor: pointer;
}

.movimiento{
    transition: transform 0.3s ease;
    /* Esto hace que la transicion sea suave. La palabra que va despues de "transition" tiene que ver con el cambio deseado en el hover (VER ABAJO) */
}

.movimiento:hover{
    transform: scale(1.4);
}

.BOTON-HERO{
    background-color: transparent;
    border: 3px solid #d66939;
    color: #d66939;
    font-size: 16px;
    cursor: pointer;
    /* este valor hace que el cursor se modifique al pasar sobre el boton */
    padding: 12px;
    /* Este valor me genera una relleno interno hacia todos los lados del box model. Permite agrandar la caja. */
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease;
}

.BOTON-HERO:hover{
    background-color: white;
    transform: scale(1.1);
}

.FONDO-HERO{
    position: relative;
    background-image: url(../img/foto1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* Esta funcion hacer que la imagen cubra toda la seccion y se amolde. Si utilizamos size:contain lo que hace es amoldarse al tamano de la seccion, pero puede quedar bordes blancos. */
    /* background-position: center; Si aplico esta propiedad la imagen se centra en la seccion, la imagen buscara adaptarse de manera centrada. */
    
}

.FONDO-HERO::before{
    /* Aqui hemos creado una pseudo-clase, es utilizada para insertar contenido antes del contenido del elemento seleccionado (section en este caso).Esto permite aplicar el degradado a la imagen de fondo. */
    content: "";
    /* Es una propiedad que asigna contenido vacio al pseudoelemento. */
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Con estos valores estamos haciendo que el pseudoelemento ocupe todo el espacio de la seccion, que tenga su tamano real */
    background: linear-gradient(to right, black, transparent);
}

.mi-icono{
    color: white;
}

/* -----------------------------------FIN DE LA CONFIGURACION DEL HERO------------------------------------ */


/* CONFIGURACION DEL HEADER */

.HEADER-GENERAL{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px,20px;
    /* Con este valor en padding le damos el tamano que tendra el header. */
    position: relative;
    background-image: url(../img/foto1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    z-index: 2;
}

.HEADER-GENERAL::before{
    content: "";
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, black, transparent);
    z-index: -1;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    max-width: 50px;
    margin-left: 56px;
    margin-right: 10px;
    /* con este valor de margin estoy haciendo un espacio A LA DERECHA para que el texto que lleva al lado no quede pegado. */
}

.seleccion a{
    transition: color 0.3s ease;
    color: inherit;
    /* con este valor hacemos que el color del ENLACE sea el mismo que el del texto, NO MAS VIOLETA. */
}

.seleccion a:hover{
    color: #d66939;
}

.seleccion2{
    margin-right: 40px;
}

.MenuNav{
    display: flex;
    white-space: nowrap;
    /* Esta propiedad evita los saltos de linea dentro del enlace, es decir que el texto aparezca todo junto en la misma linea */
    margin-left: 120px
}

.contacto{
    margin-left: 60px;

}

.MenuNav a{
    text-decoration: none;
    /* Esto le quita el subrayado que trae. */
    color: #FFFFFF;
    margin-right: 10px;
    /* Esto agrega un espacio entre cada opcion */
    transition: color 0.3s ease;
} 

.MenuNav a:hover{
    color: #d66939;
    text-decoration: underline;
    text-transform: uppercase;
}

/* ---------------------------------FIN DE LA CONFIGURACION DEL HEADER------------------------------- */

